* {
  border-spacing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  background-color: whitesmoke;
}

.title {
  height: 500px;
  width: 100%;
}

.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainGeneratorDiv {

}
.mainGeneratorDropdownMenusDiv{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.userGreetingDiv {
  display: flex;
  justify-content: center;
}
.userNameOneGreeting {
  padding-right: 10px;
}
.playerStatsDiv {
  display: flex;
  flex-direction: column;
}

.mappedUserDataDiv {
  display: flex;
  justify-content: center;
}
.userDataContainerDiv {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}

.comparisonArrayDiv {
  display: flex;
}

.comparisonWinnerDiv {
  width: 50%;
  text-align: center;
  
}
.comparisonKeyValueDiv {
  width: 50%;
  text-transform: capitalize;
  text-align: center;
}
.playerComparisonHeading {
  text-align: center;
}

.mapHolderDiv {
  display: flex;
  justify-content: center;
}

.map {
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  background-image: url("./Erangel_Main.jpg");
  background-size: contain;
  margin-bottom: 10px;
}

.Erangel {
  background-image: url("./Erangel_Main.jpg");
}

.Miramar {
  background-image: url("./Desert_Main.jpg");
}

.cell {
  flex: 0 0 33.1%;
  border: 0.5px dashed whitesmoke;
}
.dropGeneratorButtonDiv {
  display: flex;
  justify-content: center;
}

.dropGeneratorComponentDiv {
  display: flex;
  justify-content: center;

}

.dropResultsDiv {
  text-align: center;
}